---
Checks: -*,
        boost-*,
        bugprone-*,
        cert-*,
        clang-analyzer-*,
        concurrency-*,
        cppcoreguidelines-*,
        google-*,
        hicpp-*,
        misc-*,
        -misc-no-recursion,
        modernize-*,
        -modernize-use-trailing-return-type,
        performance-*,
        readability-*
