---
Checks: -*,
        boost-*,
        bugprone-*,
        -bugprone-easily-swappable-parameters,
        cert-*,
        -cert-err58-cpp,
        -cert-oop11-cpp,
        clang-analyzer-*,
        concurrency-*,
        cppcoreguidelines-*,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-avoid-non-const-global-variables,
        -cppcoreguidelines-explicit-virtual-functions,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-owning-memory,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -cppcoreguidelines-pro-type-vararg,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        google-*,
        -google-explicit-constructor,
        -google-readability-braces-around-statements,
        -google-readability-todo,
        hicpp-*,
        -hicpp-braces-around-statements,
        -hicpp-no-array-decay,
        -hicpp-invalid-access-moved,
        -hicpp-use-override,
        -hicpp-vararg,
        misc-*,
        -misc-no-recursion,
        -misc-non-private-member-variables-in-classes,
        modernize-*,
        -modernize-use-trailing-return-type,
        performance-*,
        readability-*,
        -readability-braces-around-statements,
        -readability-else-after-return,
        -readability-function-cognitive-complexity,
        -readability-magic-numbers,
        -readability-qualified-auto
HeaderFilterRegex: .*
CheckOptions:
    - key: modernize-use-override.AllowOverrideAndFinal
      value: true
