---
Checks: -*,
        boost-*,
        bugprone-*,
        cert-*,
        -cert-err58-cpp,
        -cert-oop11-cpp,
        clang-analyzer-*,
        concurrency-*,
        cppcoreguidelines-*,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-avoid-non-const-global-variables,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-pro-type-vararg,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        google-*,
        -google-explicit-constructor,
        -google-readability-braces-around-statements,
        -google-readability-todo,
        hicpp-*,
        -hicpp-braces-around-statements,
        -hicpp-vararg,
        misc-*,
        -misc-no-recursion,
        -misc-non-private-member-variables-in-classes,
        modernize-*,
        -modernize-use-trailing-return-type,
        performance-*,
        readability-*,
        -readability-braces-around-statements,
        -readability-function-cognitive-complexity,
        -readability-magic-numbers,
        -readability-qualified-auto
HeaderFilterRegex: .*
